* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    display: flex;
    border: 1px solid #ffffff;
    background-color: #6495ED;
}

#menu a {
    color: white;
    text-decoration: none;
}



.title {
    color: #00008B;
    text-align: center;
    margin: 15px 0px 30px 0px;
}

hr {
    background-color: #00008B;
    height: 5px;
    width: 70%;
    margin: 10px auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-image{
    margin: 5px;
    width: 40%;
}

.card-text{
    color: #00008B;
    margin: 5px;
    width: 65%;
}

